<div class="col-lg-8">
    <!-- -->
    <h2 class="text-white h4">Artigos</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-12">
            <!-- Blog post-->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="small text-muted">{{ post.comunidade.nome }} | {{ post.data.strftime("%B %d, %Y") }} | {{ post.autor_post.username }}</div>
                    <h2 class="card-title h4">{{ post.titulo[:51] }}{% if post.titulo[50]: %}... {% endif %}</h2>
                    <p class="card-text">{{ post.corpo[:90] | safe }}{% if post.corpo[90]: %}...{% endif %}</p>
                    <a class="btn btn-primary" href="{{ url_for('show_post', q_id=post.id) }}">Ler mais →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
