{% extends "base.html" %}

{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4" style="height: 80%">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Bem-vinde à Kira!!</h1>
                <p class="lead mb-0">Sua amiga Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias et, aliquid nam, eum exercitationem dicta vero accusamus cum blanditiis tempore ex quo illo perspiciatis dolore pariatur incidunt iusto iure provident.</p>
                {% if not current_user.is_authenticated: %}
                <p class="lead" style="margin-top: 2px"><em>Comece se registrando para aproveitar essa experiência!</em></p>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}