{% extends "base.html" %}

{% block content %}
    <script src="../static/js/scripts.js"></script>
<div class="container abas-comunidades">

{% if current_user.is_authenticated %}
<!-- INICIO ABAS -->
    <!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-white aba_comunidade"
        id="ex1-tab-1"
        data-mdb-toggle="tab"
        onclick="aba_fica_ativa('ex1-tab-1')"
        href="{{ url_for('comunidades', base='artigos', pagina=1) }}"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true"
        >Artigos</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-white aba_comunidade"
        id="ex1-tab-2"
        data-mdb-toggle="tab"
        onclick="aba_fica_ativa('ex1-tab-2')"
        href="{{ url_for('comunidades', base='featured', pagina=1) }}"
        role="tab"
        aria-controls="ex1-tabs-2"
        aria-selected="false"
        >Featured</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-white aba_comunidade"
        id="ex1-tab-3"
        data-mdb-toggle="tab"
        onclick="aba_fica_ativa('ex1-tab-3')"
        href="{{ url_for('comunidades', base='recentes', pagina=1) }}"
        role="tab"
        aria-controls="ex1-tabs-3"
        aria-selected="false"
        >Recentes</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-white aba_comunidade"
        id="ex1-tab-3"
        data-mdb-toggle="tab"
        href="{{ url_for('comunidades', base='descubra', pagina=1) }}"
        role="tab"
        aria-controls="ex1-tabs-3"
        aria-selected="false"
        >Descubra</a
      >
    </li>
</ul>
  <!-- Tabs navs -->
<!-- FIM ABAS -->
{% endif %}

    <div class="row">
    <!-- Menu lateral -->
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Todas as Comunidades
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul class="nav nav-pills flex-column mb-auto">
      {% for comunidade in comunidades[:10] %}
          <li class="nav-item">
            <a href="{{ url_for('busca_comunidade', id_comu=comunidade.id) }}" class="nav-link" aria-current="page">
                {{ comunidade.nome }}
            </a>
          </li>
      {% endfor %}
        </ul>
      </div>
    </div>


   <!-- Seções de Artigos -->
    {% if base == 'featured'%}
        {% with posts=posts_featured, pages=n_paginas%}
            {% include 'featured.html' %}
        {% endwith %}
    {% elif base == 'artigos'%}
        {% with posts=posts, pages=n_paginas %}
            {% include 'artigos.html' %}
        {% endwith %}
    {% elif base == 'recentes'%}
        {% with posts=ultimos_posts, pages=n_paginas %}
            {% include 'recentes.html' %}
        {% endwith %}
    {% elif base == 'descubra'%}
        {% with comunidades=comunidades, pages=n_paginas %}
            {% include 'descubra.html' %}
        {% endwith %}
    {% endif %}
    </div>
    <!-- paginação -->
    <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Mais Novos</a></li>
                {% for pagina in range(n_paginas) %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('comunidades', base=base, pagina=pagina+1) }}">{{ pagina + 1 }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{ url_for('comunidades', base=base, pagina=n_paginas-1) }}">Mais Antigos</a></li>
            </ul>
    </nav>
</div>
{% endblock %}