<div class="col-lg-8">
    <!-- -->
    <h2 class="text-white h4">Descubra Novas Comunidades</h2>
    <div class="row">
        {% for comunidade in comunidades %}
            {% if comunidade not in comunidades_associadas %}
                <div class="col-lg-12">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <h2 class="card-title h4 col-sm-10">{{ comunidade.nome }}</h2>
                                    <a class="btn btn-primary btn-sm col-sm-2" href="{{ url_for('unir_se', id_comunidade=comunidade.id) }}">Me Unir</a>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <p class="card-text">{{ comunidade.descricao }}</p>
                                    <a href="{{ url_for('busca_comunidade', id_comu=comunidade.id) }}" class="nav-link" aria-current="page">
                                        Ver página da comunidade
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Pagination-->
</div>
