{% extends 'my-profile.html' %}

{% block action %}
<div class="col-lg-8">
    <div class="card">
          <div class="card-header" style="text-align: center">
            Pontos Acumulados
          </div>
          <div class="card-body">
            <h2 class="card-title h2">Seus pontos 💋</h2>
            <h4 class="card-text h4">17 pontos</h4>
            <p> Valor ainda não permite gerar cupons ou efetivar assinatura do clube para o próximo mês </p>
            <a class="btn btn-success disabled" href="">Trocar pontos</a>
            <a class="btn btn-dark disabled" href="">Como gerar pontos?</a>
           </div>
    </div>
</div>
{% endblock %}